html,body{
    height:100%;
    padding:0;
    margin:0;
    overflow: hidden;
    font-family: Poppins;
  }
  
*::after, *::before{
    box-sizing :border-box;
}

body{
    height: 100%;
    background-image: url("../assets/manam.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow-y: scroll;
}

.top-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3A3B3C;
    color: #fff;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    font-size: 20px;
}

.nav-buttons{
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color:#3A3B3C;
    letter-spacing: 1em;
    border: none;
    font-weight: 700;
    transition: all 0.4s ease 0s;
    opacity: 0.9;
    cursor: pointer;
}

.nav-buttons:hover {
    background: #fff;
    color: #3A3B3C;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.nav-buttons:focus, .nav-buttons:active{
    background: #fff;
    color: #3A3B3C;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(41, 39, 39);
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.home-cont{
    display: none;
    width: 60%;
    height: 100%;
    margin: auto;
    background-color:#fff;
    opacity: 0.9;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    max-width: 50%;
}

.home-desc{
    color: #3A3B3C;
    font-size: 18px;
    text-align: justify;
}

.menu-cont{
    display: none;
    background-color:#fff;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    margin: auto;
}

.menu-desc{
    color: #3A3B3C;
    font-size: 20px;
    text-align: center;
}

.menu-desc img{
    max-width: 40%;
    height: auto;
}

tr:nth-child(even){
    background-color: #cfcbcb;
    color: #0c0c0c;
}


.about-cont{
    display: none;
    background-color:#fff;
    opacity: 0.9;
    align-items: center;
    justify-content: center;
}

.about-desc{
    color: #3A3B3C;
    font-size: 20px;
    text-align: center;
}

.icons img{
    max-width: 10%;
}